<div class="jumbotron">
  <div class="row">

    <h1>Welcome to Currency Converter</h1>
    <h2>How many pennies would you like to trade?</h2>
    <div class="col-md-4 col-md-offset-4">
      <form>
        <!-- max input of 10 is for security reasons, a number with more than 10 digits is not safe -->
        <input type="text" ng-model="newChange.amount">
        <button ng-click="makeChange()">Give me Change</button>
      </form>
    </div>
  </div>
</div>

<div class="row marketing">
  <div class="col-md-6 col-md-offset-3">
      <h2>Getting change for : {{coin.amount}} pennies!</h2>
      <div ng-repeat="coin in coins">
        <div ng-repeat="(key, value) in coin">
            {{key}} : {{value}}
        </div>
    </div>
    </div>
</div>
